*.o
*.a
*.out
intro/getcputc
intro/giduid
intro/helloworld
intro/mycat
intro/myls1
intro/myshell1
intro/myshell2
intro/testerror
standards/conf*
standards/sysconf.sym
standards/pathconf.sym
standards/option*
standards/sysopt.sym
standards/pathopt.sym